<!-- Footer Section Start-->
<div class="footer-section section bg-dark" style="background-color: #080F1E !important;">
    <div class="container">

        <div class="row">
            <div class="col">

                <!-- Footer Top Start -->
                <div class="footer-top section pt-80 pb-50">
                    <div class="row">

                        <!-- Footer Widget -->
                        <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">

                            <span class="footer-logo footer-logo-text">Afro Gift Card</span>

                            <p style="position: relative !important; top: 20px !important;">Afro Gift Card is a trusted platform for secure and instant gift card exchanges. We
                                ensure top rates and seamless transactions, making it easy for you to trade with
                                confidence.</p>

                        </div>


                        <!-- Footer Widget -->
                        <div class="footer-widget col-lg-2 col-md-3 col-12 mb-40">

                            <h4 class="widget-title">Information</h4>

                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Check Gift Card</a></li>
                                <li><a href="#">Buy Gift Card</a></li>
                                <!-- <li><a href="#">Portfolio</a></li> -->
                                <li><a href="#">Contact us</a></li>
                            </ul>

                        </div>


                        <!-- Footer Widget -->
                        <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">

                            <h4 class="widget-title">Contact Us</h4>

                            <ul>
                                <li><span>Address:</span> ur address goes here,street Crossroad 123</li>
                                <li><span>Phone:</span> +99 859 658 589 . +69 587 456 25</li>
                                <li><span>Eax:</span> +55 784 7585 . + 985 698 586</li>
                                <li><span>Email:</span> afrogiftcard&#64;email.com</li>
                            </ul>

                        </div>

                        
                        <!-- Footer Widget -->
                        <div class="footer-widget col-lg-2 col-md-3 col-12 mb-40">

                            <h4 class="widget-title">Chat with us</h4>

                           <p>The latest news, rewards activity, rates updates, and quick respond 24/7 service.</p>

                        </div>

                    </div>
                </div><!-- Footer Top End -->

                <!-- Footer Bottom Start -->
                <div class="footer-bottom section text-center">
                    <p>Powered by <a href="https://www.morrhtechsolutions.com/" style="color: #0075e5;">Morrhtech Solutions</a>.</p>
                </div><!-- Footer Bottom End -->

            </div>
        </div>

    </div>
</div><!-- Footer Section End -->