.client-slider {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    scroll-behavior: smooth;
  }
  
  .single-client {
    flex: 0 0 auto;
    width: 150px;
    transition: transform 0.3s;
  }
  
  .single-client img {
    width: 100%;
  }
  .title{
    color: #080F1E;
}
p{
    color: #000 !important;
}

.animated-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.animated-button::after {
  content: '→';
  position: absolute;
  right: -20px;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 16px;
}

.animated-button:hover {
  background-color: #e65c00;
  padding-right: 36px;
}

.animated-button:hover::after {
  right: 12px;
  opacity: 1;
}

h2, .wrap p{
  color: #080F1E;
}
.fa, .counter{
  color: #0075e5 !important;
}

li, strong{
  color: #080F1E !important;
}



.about-image{
  padding-top: 80px;
  max-width:100%;
}

