<!-- Page Banner Section Start-->
<div
  class="page-banner-section section py-3"
  style="background-color: #fff;"
>
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Page Title Start -->
      <div class="col-md-6">
        <h1 class="text-white m-0" style="color: #080f1e !important;">About Us</h1>
      </div>
      <!-- Page Title End -->

      <!-- Breadcrumb Start -->
      <div class="col-md-6 text-md-end mt-2 mt-md-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-md-end mb-0" style="background-color: transparent;">
            <li class="breadcrumb-item">
              <a routerLink="/home" class="text-white-50" style="color: #080f1e !important;">Home</a>
            </li>
            <li class="breadcrumb-item active text-white" aria-current="page" style="color: #080f1e !important;">
              About Us
            </li>
          </ol>
        </nav>
      </div>
      <!-- Breadcrumb End -->

    </div>
  </div>
</div>
<!-- Page Banner Section End-->


<!-- Page Banner Section Start-->
<!-- <div
  class="page-banner-section section"
  style="background-color: #080f1e; height: 20px !important"
>
  <div class="container">
    <div class="row">
      Page Title Start
      <div class="page-title text-center col">
        <h1>About us</h1>
      </div>
      Page Title End
    </div>
  </div>
</div> -->
<!-- Page Banner Section End-->

<!-- About Section Start-->
<div class="about-section section pt-120 pb-90">
  <div class="container">
    <div class="row flex-row-reverse">
      <!-- About Image -->
      <div class="about-image col-lg-6 col-12 mb-30">
        <a class="video-popup"
          ><img
            src="../../../assets/img/giftcard4.png"
            alt=""
            style="height: 350px"
        /></a>
      </div>

      <!-- Mission Content -->
      <div class="about-content col-lg-6 col-12 mb-30">
        <h2 class="section-title" style="color: #080f1e">
          About <span style="color: #0075e5">Afro Gift Card</span>
        </h2>
        <p>
          At Afro Gift Card, we specialize in secure, fast, and reliable gift
          card trading. Whether you’re looking to buy or sell, our platform
          offers unbeatable rates, instant payouts, and a seamless user
          experience. We prioritize transparency, speed, and customer
          satisfaction—ensuring every transaction is smooth, safe, and
          rewarding.
        </p>

        <p>
          We make trading gift cards easy, fast, and rewarding. Our
          user-friendly platform ensures that you get the best value for your
          cards, while our team works behind the scenes to keep every
          transaction safe and seamless. Join thousands of happy users who trust
          us for their digital trading needs.
        </p>
        <a routerLink="/buy-giftcard" class="button animated-button">Shop Now</a>
      </div>
    </div>
  </div>
</div>
<!-- About Section End-->

<!-- Why AfroGift Card Section Start-->
<div class="about-section section pb-90">
  <div class="container">
    <div class="row">
      <!-- Mission Content -->
      <div class="about-content">
        <h2 class="section-title text-center" style="color: #080f1e">
          Why <span style="color: #0075e5">Afro Gift Card</span>
        </h2>
        <p class="text-center">
          With an Afro Gift Card, you’re not just giving a gift—you’re unlocking
          a world of possibilities. Why settle for guessing what someone might
          like when you can give them the freedom to choose exactly what they
          want? Whether it’s a gamer eager to top up their favorite console, a
          music lover downloading the latest hits, a fashion-forward trendsetter
          picking out new outfits, or a global shopper exploring exclusive
          international platforms—Afro Gift Card caters to them all.
        </p>
        <p class="text-center">
          Our gift cards can be used across a wide range of top brands,
          services, and platforms. From streaming subscriptions and online
          stores to travel, dining, and digital goods, there’s something for
          everyone. It’s the smart, secure, and versatile way to gift—with zero
          stress and 100% satisfaction.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Why Afro Gift Card Section End-->

<!-- Funfact Section Start-->
<div class="funfact-section section pb-90">
  <div class="container">
    <div class="row">
      <!-- Single Fact -->
      <div class="single-fact text-center col-sm-3 col-6 mb-30">
        <div class="wrap">
          <i class="fa fa-gift"></i>
          <h2 class="counter">500+</h2>
          <p>Gift Cards Sold</p>
        </div>
      </div>

      <!-- Single Fact -->
      <div class="single-fact text-center col-sm-3 col-6 mb-30">
        <div class="wrap">
          <i class="fa fa-smile-o"></i>
          <h2 class="counter">400+</h2>
          <p>Happy Customers</p>
        </div>
      </div>

      <!-- Single Fact -->
      <div class="single-fact text-center col-sm-3 col-6 mb-30">
        <div class="wrap">
          <i class="fa fa-globe"></i>
          <h2 class="counter">30+</h2>
          <p>Countries Served</p>
        </div>
      </div>

      <!-- Single Fact -->
      <div class="single-fact text-center col-sm-3 col-6 mb-30">
        <div class="wrap">
          <i class="fa fa-handshake-o"></i>
          <h2 class="counter">120+</h2>
          <p>Trusted Partners</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Funfact Section End-->

<!-- History Section Start-->
<div class="about-section section pb-90">
  <div class="container">
    <div class="row align-items-center gx-lg-5 gx-xl-6 align-items-lg-start">
      <!-- About Image -->
      <div class="about-image col-lg-6 col-12 mb-4">
        <a class="video-popup">
          <img
            src="../../../assets/img/giftcard6.png"
            alt="About Afro Gift Card"
            class="img-fluid rounded shadow"
            style="
              height: 350px;
              object-fit: cover;
              display: flex;
              justify-content: flex-start;
              max-width: 100%;
            "
          />
        </a>
      </div>

      <!-- Mission Content -->
      <div class="about-content col-lg-6 col-12">
        <h2 class="section-title mt-0" style="color: #080f1e">
          Our <span style="color: #0075e5"> History</span>
        </h2>
        <p>
          In 2019, after repeatedly facing the frustration of inconsistent rates
          and delayed payments while trading gift cards, a group of young
          entrepreneurs in Lagos saw the need for a better, more reliable
          solution. Determined to transform the digital trading experience, they
          began building a platform that prioritized speed, security, and
          simplicity for everyday users.
        </p>
        <p>
          After months of testing, development, and customer feedback, Afro Gift
          Card officially launched, quickly gaining recognition as a trustworthy
          name in the gift card trading space across Nigeria. What started as a
          simple exchange platform has since grown into a robust service
          offering competitive rates, 24/7 customer support, and seamless user
          experience for both buyers and sellers.
        </p>
        <p>
          Today, Afro Gift Card continues to evolve—expanding its reach,
          improving its technology, and empowering users with the freedom to
          trade digital assets safely and confidently, all from the palm of
          their hand.
        </p>

        <!-- <a href="/buy-giftcard" class="button animated-button mt-3">Shop Now</a> -->
      </div>
    </div>
  </div>
</div>
<!-- History Section End-->

<!-- Our Offers Section Start-->
<div class="about-section pt-120 section pb-90">
  <div class="container">
    <div class="row">
      <!-- Mission Content -->
      <div class="about-content">
        <h2 class="section-title text-center" style="color: #080f1e">
          Our <span style="color: #0075e5">Offers</span>
        </h2>

        <!-- Physical Section Start-->
        <div class="about-section section pb-90">
          <div class="container">
            <div class="row flex-row-reverse">
              <!-- About Image -->
              <div class="about-image col-lg-6 col-12 mb-30">
                <a class="video-popup"
                  ><img
                    src="../../../assets/img/giftcard7.png"
                    alt=""
                    style="height: 350px"
                /></a>
              </div>

              <!-- Mission Content -->
              <div class="about-content col-lg-6 col-12 mb-30">
                <h2 class="section-title" style="color: #080f1e">
                  Our Physical <span style="color: #0075e5">Gift Card</span>
                </h2>
                <p>
                  Looking to leave a lasting impression? With the Afro Physical
                  Gift Card, you’re giving more than just a present — you’re
                  delivering a premium gifting experience. Designed with
                  elegance and crafted for every special moment, our physical
                  gift cards are perfect for birthdays, corporate rewards,
                  holidays, and other meaningful occasions.
                </p>

                <p>
                  Please note: All physical gift card purchases include a small
                  delivery fee to ensure safe and timely arrival at your
                  preferred location.
                </p>

                <p><strong>Why Choose Our Physical Gift Cards?</strong></p>
                <ul style="padding-left: 20px; padding-bottom: 20px">
                  <li>Premium card design for a classic and elegant touch</li>
                  <li>Convenient doorstep delivery across Nigeria</li>
                  <li>Can be redeemed online or in-store (where applicable)</li>
                  <li>Ideal for personal or corporate gifting</li>
                  <li>Secure activation and protection against misuse</li>
                </ul>

                <a routerLink="/buy-giftcard" class="button animated-button"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Physical Section End-->

        <!-- Digital Section Start-->
        <div class="about-section section pb-90">
          <div class="container">
            <div class="row flex-row-reverse">
              <!-- About Image -->
              <div class="about-image col-lg-6 col-12 mb-30">
                <a class="video-popup"
                  ><img
                    src="../../../assets/img/giftcard1.png"
                    alt=""
                    style="height: 350px"
                /></a>
              </div>

              <!-- Digital Gift Card Content -->
              <div class="about-content col-lg-6 col-12 mb-30">
                <h2 class="section-title" style="color: #080f1e">
                  Our Digital <span style="color: #0075e5">Gift Card</span>
                </h2>
                <p>
                  Our Digital Gift Cards are designed for convenience, speed,
                  and versatility. Whether it’s a last-minute gift or a planned
                  surprise, you can send joy instantly with just a few clicks.
                  Delivered straight to your recipient's inbox, it’s the perfect
                  modern solution for any occasion.
                </p>

                <p>
                  With Afro Gift Card’s digital option, you eliminate the wait
                  time while still giving a gift that’s secure, personalized,
                  and redeemable anytime, anywhere.
                </p>

                <p><strong>Why Choose Our Digital Gift Cards?</strong></p>
                <ul
                  style="
                    padding-left: 20px;
                    list-style: none;
                    padding-bottom: 20px;
                  "
                >
                  <li>Instant delivery via email or unique link</li>
                  <li>Easily redeemable on mobile or desktop</li>
                  <li>24/7 availability—perfect for last-minute gifting</li>
                  <li>Personalized with recipient’s name and message</li>
                  <li>Secure transactions with real-time activation</li>
                </ul>

                <a routerLink="/buy-giftcard" class="button animated-button"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Digital Section End-->
      </div>
    </div>
  </div>
</div>

<!-- Our Offers Section Ends-->
