<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="card p-4 border-0 shadow-sm">
        <h4 class=" section-title mb-3"  style="color: #080F1E;">Card Details</h4>
        <p><strong>Card Number:</strong> {{ card?.cardNumber }}</p>
        <p><strong>Owner:</strong> {{ card?.owner }}</p>
        <p><strong>Balance:</strong> ₦{{ card?.balance | number }}</p>
        <a routerLink="/" class="btn btn-outline-primary mt-3">Back to Home</a>
      </div>
    </div>
  </div>
</div>
